/* Estilos del componente perfil.js con css grid*/
.container {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.05fr 2fr 0.3fr;
  grid-gap: 0.2rem;
  grid-template-areas:
    "header header header"
    "section section section"
    "footer footer footer";
}
header {
  grid-area: header;
}

header .menu {
  display: flex;
  justify-content: space-between;
  border-bottom: rgba(194, 194, 194, 0.397) 1px solid;
  justify-content: space-between;
  display: inline-flex;
  height: 3em;
  width: 95vw;
  position: fixed;
  top: 0%;
  z-index: 100;
  background-color: white;
}

#logo {
  width: 30vw;
  font-weight: bold;
  font-family: Dancing Script;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding-left: 0.5em;
}

header img {
  width: 50px;
  position: relative;
  cursor: pointer;
}

.enlaces {
  background-color: #fcf3e0;
  display: none;
  position: absolute;
  height: auto;
  width: 25vw;
  top: 20px;
  right: 5px;
}

.setting {
  width: 100%;
  height: auto;
  padding: 0.5em;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit
}

#configuracion:hover .enlaces {
  display: block;

}

.setting:hover {
  background-color: #FFE8B4;
}

.perfil {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#editar-perfil {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 1em;
}
.subirFoto {
  background-color: #cecece;
  align-items: center;
  height: 30vh;
  width: 60vw;
  display: flex;   
}
#foto-perfil{
  max-width: 30vw;
  max-height: 30vw;
  
}

.descripcion {
  color: black;
  width: 40vw;
  padding-top: 10px;
  font-size: 18px;
  position: relative;
  top: 0px;
  left: 0%;
  text-align: center;
}


@media (min-width: 800px) {
  * {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .container {
    width: 60vw;
    height: auto;
    overflow: hidden;
    margin-left: 20%;
    border-left: rgba(194, 194, 194, 0.397) 1px solid;
    border-right: rgba(194, 194, 194, 0.397) 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.05fr 2fr 0.05fr;
    grid-gap: 0.2rem;
    grid-template-areas:
      "header header header"
      "section section section"
      "footer footer footer";
  }
  .perfil {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #editar-perfil {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    height: 60vh;
    padding: 1em;
  }
  .subirFoto {
    background-color: #cecece;
    align-items: center;
    height: 30vh;
    width: 60vw;
    display: flex;   
  }
  #foto-perfil{
    max-width: 20vw;
    max-height: 25vw;
  }  
  header .menu {
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(194, 194, 194, 0.397) 1px solid;
    justify-content: space-between;
    display: inline-flex;
    height: 3em;
    width: 60vw;
    position: fixed;
    top: 0%;
    z-index: 100;
  }
}